body {
    background-color:#F0F0F0;
    padding: 1em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 0.5em 0;
    padding: 1em 4em;
}
select {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
#instructor {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}